.about-container {
    display: flex;
    flex-direction: column;

    .about-links {
        display: flex;
        justify-content: center;
        align-items: center;

        .about-image {
            width: 200px;
            margin: 20px;
            transition: transform .2s;
        }

        .about-image:hover {
            transform: scale(1.1);
        }
    }
}