.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#clip-carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    scroll-behavior: smooth;
}

span > div {

    transition: transform 0.5s;
}

.carousel span {
    position: relative;
    width: 80%;
    height: 350px;
    scroll-behavior: smooth;
}

.clip-carousel-item {
    display: flex;
    justify-content: center;
    background: rgb(235, 235, 235);
    transform: translate(-50%, -50%);
    box-shadow: 1px;
}

.clip-carousel-item.level0 {
    z-index: 2;
    width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: (0px 10px 10px rgb(175, 175, 175));
    
    .carousel-video {
        width: 530px;
    }

    .carousel-description {
        width: 220px;
    }
}

.carousel-video-player {
    width: 100%;
}

.clip-carousel-item.level1, .clip-carousel-item.level-1 {
    z-index: 1;
    width: 600px;
    position: absolute;
    top: 50%;
    box-shadow: (0px 10px 12px rgb(195, 195, 195));

    .carousel-video {
        width: 420px;
    }

    .carousel-description {
        display: 180px;
    }
}

.clip-carousel-item.level1 {
    left: 35%;
}

.clip-carousel-item.level-1 {
    left: 65%;
}

.clip-carousel-item.level2, .clip-carousel-item.level-2 {
    z-index: 0;
    width: 450px;
    position: absolute;
    top: 50%;
    box-shadow: (0px 10px 14px rgb(216, 216, 216));

    .carousel-video {
        width: 315px;
    }

    .carousel-description {
        width: 135px;
    }
}

.clip-carousel-item.level2 {
    left: 20%;
}

.clip-carousel-item.level-2 {
    left: 80%;
}

.carousel-channel-photo {
    width: 40px;
    height: 40px;
}

.carousel-description-inner {
    padding: 10px;
}