.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#clip-carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.carousel span {
    position: relative;
    width: 80%;
    height: 350px;
}

.clip-carousel-item {
    display: flex;
    justify-content: center;
    background: rgb(235, 235, 235);
    transform: translate(-50%, -50%);
    box-shadow: 1px;
}

.clip-carousel-item.level0 {
    z-index: 2;
    width: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: (0px 10px 10px rgb(175, 175, 175));
    
    .carousel-video {
        width: 530px;
    }

    .carousel-description {
        width: 220px;
    }
}

.carousel-video-player {
    width: 100%;
}

.clip-carousel-item.level1, .clip-carousel-item.level-1 {
    z-index: 1;
    width: 600px;
    position: absolute;
    top: 50%;
    box-shadow: (0px 10px 12px rgb(195, 195, 195));

    .carousel-video {
        width: 420px;
    }

    .carousel-description {
        display: 180px;
    }
}

.clip-carousel-item.level1 {
    left: 35%;
}

.clip-carousel-item.level-1 {
    left: 65%;
}

.clip-carousel-item.level2, .clip-carousel-item.level-2 {
    z-index: 0;
    width: 450px;
    position: absolute;
    top: 50%;
    box-shadow: (0px 10px 14px rgb(216, 216, 216));

    .carousel-video {
        width: 315px;
    }

    .carousel-description {
        width: 135px;
    }
}

.clip-carousel-item.level2 {
    left: 20%;
}

.clip-carousel-item.level-2 {
    left: 80%;
}

.carousel-channel-photo {
    width: 40px;
    height: 40px;
}

.carousel-description-inner {
    padding: 10px;
}

// .arrow {
    // z-index: 3;
    // background: white;
    // position: absolute;
// }

// .arrow-left {
//     left: 20%;
// }

// .arrow-right {
//     left: 80%;
// }

// .carousel-header {
//     text-align: center;
//   }
  
//   .carousel-header .carousel-title {
//     font-weight: 500;
//     font-size: 28px;
//   }
  
//   $default-height: 80%;
//   $default-width: 25%;
//   $level2-height: $default-height - 8%;
//   $level2-width: $default-width - 8%;
//   $level1-height: $default-height - 2%;
//   $level1-width: $default-width - 2%;
//   $level0-height: $default-height + 3%;
//   $level0-width: $default-width + 3%;
//   $level-2-left: 15%;
//   $level-1-left: 30%;
//   $level0-left: 50%;
//   $level1-left: 70%;
//   $level2-left: 85%;
//   $level-2-bs: -0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
//   $level-1-bs: -0.2em 0.2em 0.4em rgba(0, 0, 0, 0.2);
//   $level2-bs: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.2);
//   $level1-bs: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.2);
//   $level0-bs: 0 0.4em 0.8em rgba(0, 0, 0, 0.2);
  
//   #clip-carousel {
//     position: relative;
//     height: 450px;
//     margin-bottom: 40px;
//   }
  
//   #clip-carousel > .arrow {
//     position: absolute;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 20px;
//     height: 100%;
//     color: rgba(0, 0, 0, 0.25);
//     transition: all 500ms;
//     &-right {
//       right: 0;
//     }
//     &-left {
//       left: 0;
//     }
//   }
  
//   .clip-carousel-item {
//     position: absolute;
//     background-color: white;
//     display: flex;
//     flex-flow: column nowrap;
//     align-items: center;
//     justify-content: space-around;
//     padding: 40px;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     border-radius: 10px;
//     overflow: hidden;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     transition: box-shadow 1s, height 250ms, width 250ms, left 1s, margin-top 1s,
//       line-height 250ms, background-color 1s, top 0.25s;
//     text-align: center;
//   }
  
//   .clip-carousel-item.hovered {
//     top: 200px;
//   }
  
//   .clip-carousel-item .clip-title {
//     font-size: 26px;
//     color: rgba(142, 142, 142, 1);
//     font-weight: 600;
//     text-transform: uppercase;
//     white-space: nowrap;
//     transition: all 0.5s;
//     line-height: 1;
//     margin-top: 20px;
//   }
  
//   .clip-carousel-item .clip-subtitle-container {
//     height: 28px;
//     overflow: hidden;
//     max-width: 175px;
//   }
  
//   .clip-carousel-item .clip-subtitle {
//     color: rgba(142, 142, 142, 1);
//     line-height: 1;
//   }
  
//   .clip-carousel-item .clip-image {
//     width: 100%;
//     height: 60%;
//     border-radius: 20px;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
//     background-position: center;
//     background-size: cover;
//     transition: all 0.5s;
//     margin-bottom: 20px;
//   }
  
//   .clip-carousel-item.level-2 {
//     box-shadow: $level-2-bs;
//     height: $level2-height;
//     width: $level2-width;
//     line-height: $level2-height;
//     left: $level-2-left;
//   }
  
//   .clip-carousel-item.level-1 {
//     box-shadow: $level-1-bs;
//     height: $level1-height;
//     width: $level1-width;
//     line-height: $level1-height;
//     left: $level-1-left;
//   }
  
//   .clip-carousel-item.level0 {
//     box-shadow: $level0-bs;
//     height: $level0-height;
//     width: $level0-width;
//     line-height: $level0-height;
//     left: $level0-left;
//   }
  
//   .clip-carousel-item.level1 {
//     box-shadow: $level1-bs;
//     height: $level1-height;
//     width: $level1-width;
//     line-height: $level1-height;
//     left: $level1-left;
//   }
  
//   .clip-carousel-item.level2 {
//     box-shadow: $level2-bs;
//     height: $level2-height;
//     width: $level2-width;
//     line-height: $level2-height;
//     left: $level2-left;
//   }
  
//   .clip-carousel-item.level-2,
//   .clip-carousel-item.level2 {
//     z-index: 0;
//   }
  
//   .clip-carousel-item.level-2 .clip-image,
//   .clip-carousel-item.level2 .clip-image {
//     opacity: 0.6;
//   }
  
//   .clip-carousel-item.level-2 .clip-title,
//   .clip-carousel-item.level2 .clip-title {
//     font-size: 18px;
//   }
  
//   .clip-carousel-item.level-1,
//   .clip-carousel-item.level1 {
//     z-index: 1;
//   }
  
//   .clip-carousel-item.level-1 .clip-image,
//   .clip-carousel-item.level1 .clip-image {
//     opacity: 0.8;
//   }
  
//   .clip-carousel-item.level-1 .clip-title,
//   .clip-carousel-item.level1 .clip-title {
//     font-size: 20px;
//   }
  
//   .clip-carousel-item.level0 {
//     z-index: 2;
//   }
  
//   .clip-carousel-item.left-enter {
//     opacity: 0;
//     left: $level2-left;
//     height: $level2-height - $default-height;
//     width: $level2-width - $default-width;
//     line-height: $level2-height - 30;
  
//     &.left-enter-active {
//       opacity: 1;
//       left: $level2-left;
//       height: $level2-height;
//       width: $level2-width;
//       line-height: $level2-height;
//       transition: box-shadow 1s, left 1s, opacity 1s, height 250ms, width 250ms,
//         margin-top 1s, line-height 1s;
//     }
//   }
  
//   .clip-carousel-item.left-leave {
//     opacity: 1;
//     left: $level-2-left;
//     height: $level2-height;
//     width: $level2-width;
//     line-height: $level2-height;
//     z-index: -1;
  
//     &.left-leave-active {
//       z-index: -1;
//       left: $level-2-left;
//       opacity: 0;
//       height: $level2-height - $default-height;
//       width: $level2-width - $default-width;
//       line-height: 120px;
//       transition: box-shadow 1s, left 1s, opacity 1s, height 250ms, width 250ms,
//         margin-top 1s, line-height 1s;
//     }
//   }
  
//   .clip-carousel-item.right-enter {
//     opacity: 0;
//     left: $level-2-left;
//     height: $level2-height - $default-height;
//     width: $level2-width - $default-width;
//     line-height: $level2-height - 30;
  
//     &.right-enter-active {
//       left: $level-2-left;
//       opacity: 1;
//       height: $level2-height;
//       line-height: $level2-height;
//       width: $level2-width;
//       transition: box-shadow 1s, left 1s, opacity 1s, height 250ms, width 250ms,
//         margin-top 1s, line-height 1s;
//     }
//   }
  
//   .clip-carousel-item.right-leave {
//     left: $level2-left;
//     height: $level2-height;
//     opacity: 1;
//     line-height: $level2-height;
//     width: $level2-width;
  
//     &.right-leave-active {
//       left: $level2-left;
//       opacity: 0;
//       height: $level2-height - $default-height;
//       width: $level2-width - $default-width;
//       line-height: $level2-height - 30;
//       transition: box-shadow 1s, left 1s, opacity 1s, height 250ms, width 250ms,
//         margin-top 1s, line-height 1s;
//     }
//   }
  
//   .noselect {
//     -webkit-user-select: none;
//     -html-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//   }