.clip-show {

    .video {
        text-align: center;
        display: inline-block;
        max-height: 640px;
        width: 100%;
        outline: 0px;
    }

    .information {


        .info-margin {
            margin: 10px;
            display: flex;
            justify-content: space-between;

            .left-side {

                h1 {
                    font-size: 20px;
                    font-weight: bold;
                }

                h3 {
                    font-size: 14px;
                }

                #left-padding {
                    padding-left: 10px;
                }

                .category-link:hover {
                    color: #9147FF;
                }
            }

            .right-side {
                display: flex;
                justify-content: flex-end;

                .delete-button {
                    font-size: 1rem;
                    padding: 6px 8px;
                    border-radius: 6px;
                    margin: 5px 10px 5px 0;
                    background: #9147FF;
                    color: #ffffff;
                    &:hover {
                        background: #772CE8;
                        color: #ffffff
                    }
                }
            }
        }
    }
}