.session-form {
    background: white;
    padding: 20px 10px 20px;
    border-radius: 6px;
    width: 400px;

    form {
        display: flex;
        flex-direction: column;
    }

    form input:focus {
        border: 2px solid #772CE8;
        background: white;
    }

    form input {
        width: 380px;
        height: 24px;
        padding-left: 10px;
        border-radius: 6px;
        border: 2px solid rgb(209, 209, 209);
        background: rgb(240, 240, 240)
    }

    form input#password {
        margin-bottom: 20px;
    }

    form label {
        margin: 15px 0px 0px 0px;

        h4 {
            margin: 10px 0px 10px 5px;
            color: rgb(75, 75, 75)
        }
    }

    .sessionbutton {
        text-decoration: none;
        font-size: 1rem;
        padding: 6px 8px;
        border-radius: 6px;
        margin: 5px 5px 5px 0;
        background: #9147FF;
        color: #ffffff;
    }

    .sessionbutton:hover {
        background: #772CE8;
        color: #ffffff
    }

    .modalHeader {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 32px;
            height: 32px;
            padding: 8px;
        }
    }

    .link-to-other {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid lightgray;

        #modalForm {
            display: flex;
            justify-self: start;
        }
    }

    #selected-form {
        color: #772CE8;
        border-bottom: 2px solid #772CE8;
        border-radius: 0px;
        margin-right: 10px;
    }

    #selected-form-two {
        color: #772CE8;
        border-bottom: 2px solid #772CE8;
        border-radius: 0px;
        margin-left: 10px;
    }

    .session-errors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 10px 0px 10px;
        padding: 5px;
        border: 1px solid rgb(255, 0, 0);
        border-left: 4px solid red;
        border-radius: 6px;
        background: rgb(255, 221, 221);
        font-weight: bold;
    }
}