.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 1px solid lightgrey;
    height: 50px;

    .navleft {
        img {
            width: 25px;
            height: 25px;
            margin: 15px;
        }
    }

    .navright {
        
        // button {
        //     background: white;
        // }
        #logoutbtn {
            margin: 5px;
        }

        button:hover:last-child {
            background: #772CE8;
            color: #ffffff
        }
    }

    .sessionbutton {
        text-decoration: none;
        font-size: 1rem;
        padding: 6px 8px;
        border-radius: 6px;
        margin: 5px;
        // font-weight: 100%;
    }

    #login {
        background: rgb(235, 235, 235)
    }

    #login:hover {
        background: rgb(218, 218, 218)
    }

    #signup {
        background: #9147FF;
        color: #ffffff;
    }

    #signup:hover {
        background: #772CE8;
        color: #ffffff
    }
}

