.session-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
    }

    form input#password {
        margin-bottom: 5px;
    }

    form label h4 {
        margin: 5px;
    }

    .sessionbutton {
        text-decoration: none;
        font-size: 1rem;
        padding: 6px 8px;
        border-radius: 6px;
        margin: 5px;
        // font-weight: 100%;
        background: #9147FF;
        color: #ffffff;
    }

    .sessionbutton:hover {
        background: #772CE8;
        color: #ffffff
    }

    .modalHeader {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 32px;
            height: 32px;
            padding: 6px;
        }
    }

    // .session-errors {
    //     display: none;
    //     border: 1px solid rgb(255, 0, 0)
    // }
}