.session-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
    }

    form input#password {
        margin-bottom: 5px;
    }

    form label h4 {
        margin: 5px;
    }

    .sessionbutton {
        text-decoration: none;
        font-size: 1rem;
        padding: 6px 8px;
        border-radius: 6px;
        margin: 5px;
        // font-weight: 100%;
        background: #785fa7;
        color: #ffffff;
    }

    .sessionbutton:hover {
        background: #6441A4;
        color: #ffffff
    }

    .modalHeader {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 35px;
            height: 35px;
            padding: 6px;
        }
    }
}